<div class="block">
  <h1>Invoice Id {{ctrl.invoice.id}} {{ctrl.invoice.title}}</h1>

  <line-item line-item="item" ng-repeat="item in ctrl.invoice.lineItems"></line-item>

  <a class="btn" href="" ng-click="ctrl.newLineItem()">+ New Line Item</a>

  <div ng-if="ctrl.isFormShown">
    <div class="block" id="add-form">
      <h3>New Line Item</h3>
      <div>
        <label>Title</label>
        <input class="title" type="text" ng-model="ctrl.title" />
      </div>
      <div>
        <label>Amount</label>
        <input class="amount" type="text" ng-model="ctrl.amount" />
      </div>
      <div>
        <input ng-click="ctrl.createLineItem()" type="submit" class="submit" />
      </div>
    </div>
  </div>

  <table id="total-row">
    <tr>
      <td>Total:</td>
      <td class="total">$ {{ctrl.total()}}</td>
    </tr>
  </table>
</div>
