h1 {
  font-weight: 100;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

h3 {
  font-weight: 100;
  margin-top: 0;
  border-bottom: 1px solid #dcb;
  padding-bottom: 1em;
}


.block {
  padding: 2em;
}




.btn {
  margin: 1em 2em;
  display: inline-block;
  padding: .3em .5em;;
  text-decoration: none;
  background: #c0cacf;
  font-size: 10px;
  color: white;
  border-radius: 2px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  float: right;
}

.btn:hover {
  text-decoration: none;
  background: #444;
  color: white;
}



.bar {
  padding: 0;
  margin: 0;
  list-style-type: none;
  clear: both;
}

.bar > div {
  float: left;
  padding: 1em;
}

#total-row {
  width: 100%;
  position: relative;
  background: #f0faff;
  border: 1px solid #def;
}

td {
  padding: .5em 2em;
  text-align: left;
  position: relative;
  width: 50%;
}




label {
  width: 100px;
  display: inline-block;
  font-weight: 100;
}

.total {
  text-align: right;
  font-weight: bold;
}


.submit {
  margin: 1em 2em;
  margin-left: 103px;
  display: inline-block;
  padding: .5em 1em;
  text-decoration: none;
  background: #036;
  font-size: 14px;
  color: white;
  border-radius: 1px;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  border: 0 none;
}

.submit:hover {
  text-decoration: none;
  background: #039;
  color: white;
}

input {
  outline: none;
}


input[type='text'] {
  border: 1px solid #777;
  padding: 1em;
  color: #999;
}

input[type='text']:focus {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  box-shadow: 0 0 3px #eee;
  border-color: #000;
  color: #000;
}



.title {
  width: 300px;
}
.amount {
  width: 100px;
}

#add-form {
  background: #ffe;
  border: 1px solid #fed;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1em;
  float: right;
}


