<h1>Invoice Id {{ctrl.invoice.id}}</h1>

<line-item line-item="item" ng-repeat="item in ctrl.invoice.lineItems"></line-item>

<button ng-click="ctrl.newLineItem()">New Line Item</button>

<div ng-if="ctrl.isFormShown">
  <h3>New Line Item</h3>
  <div>
    <label>Title</label>
    <input type="text" ng-model="ctrl.title" />
  </div>
  <div>
    <label>Amount</label>
    <input type="text" ng-model="ctrl.amount" />
  </div>
  <div>
    <input ng-click="ctrl.createLineItem()" type="submit" />
  </div>
</div>
